html, body {
 	font-family: Helvetica;
}
#firstpage {
	background-image: url('images/family.jpg');
	background-size: cover;

    text-align: center;

    font-family: Helvetica;

    display: none;
}

#selectdish #sidebar {
	background-color: white;
	color: black;
	text-align: left;
	padding-left: 0px;

	
	/*display: none;*/
    float: left;
}

#selectdish #mainbar {
	background-color: yellow;
	color: black;
	padding-left: 100px;

	/*display: none;*/
    float: left;
}

#selectdish #lowerbar {
	background-color: white;
	color: black;
	padding-left: 100px;

	/*display: none;*/
    float: left;
}