html, body {
 	font-family: Helvetica;
}

h1 {
	background-color: #EFDC97;
 	display: block;
	font-size: 55px;
	border-style: solid;
	border-color: black;
	border-width: 5px;
	text-align: center;
}
#firstpage {
	background: url('images/family.jpg') no-repeat center center;
	background-size: cover;

    text-align: left;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 130px;

    z-index: -1;
    display: none;
}

#firstpage #firstbody{
	background-color: white;
}

#selectdish #sidebar {
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	color: black;
	text-align: left;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 320px;

	
	display:none;
    float: left;
}

#selectdish #mainbar {
	background-color: #EFDC97;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	color: black;
	padding-left: 200px;
	padding-bottom: 10px;
	display: none;
    float: center;
}

#selectdish #lowerbar {
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	color: black;
	padding-left: 325px;
	display: none;
    float: center;
}

.tablecell{
	padding: 10px;

}

#lasagne #sidebar2 {
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	color: black;
	text-align: left;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 320px;

	
	display:none;
    float: left;
}

#lasagne #middlebar {
	display:none;
    float: left;
}

#lasagne #rightbar {
	display:none;
    float: right;
}

#lasagne #middlebar #pilknapp {
	background-color: #EFDC97;
    border: solid;
}

/*style="background-color:#EFDC97" */
.ingredientstable {
	background-color: #EFDC97;
	padding: 100px;
	border-style: solid;
	border-color: black;

}

#confirmdinner #sidebar3 {
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	color: black;
	text-align: left;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 320px;

	
	display:none;
    float: left;
}

#confirmdinner #mainbar2 {
	background-color: #EFDC97;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	color: black;
	padding-left: 200px;
	padding-bottom: 10px;
	display: none;
    float: center;
}

#confirmdinner #lowerbar2 {
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	color: black;
	padding-left: 325px;
	display: none;
    float: center;
}

#dinneroverview #mainbar3 {
	background-color: white;
	color: black;

	display: ;
	float: center;

}

.confirmbutton {
	position: absolute;
}

.mainbar3 {
	text-align: center;
}